/* reset */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}
.link {
  text-decoration: none;
}

/* style */

html{
  box-sizing: border-box;
}

html *, ::after, ::before{
  box-sizing: inherit;
}

body {
  font-family: 'Gilroy';
  background-color: #232323;
}
/* main html */
main{
  background-color: #ffffff;
}
header {
  border-bottom: 1px solid #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
img {
  display: block;
}
.cont{
  max-width: 1296px;
  margin: 0 auto;
}
/* container */

.container {
  display: flex;
  align-items: center;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  
}
/* nav-menu */

.nav-menu {
  display: flex;
  gap: 40px;
  margin-left: 124px;
}
.nav-menu-item{
  position: relative;
}
.icon{
  position: absolute;
  transform: translate(-200%, -50%);
  transition: transform 0.5s;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: grey;
}
.nav-menu-item:hover .icon{
  transform: translate(10%, -100%);
}

.nav-menu-item .link {
  color: #ffffff;
  display: inline-block;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.thumb {
  margin-right: 124px;
}
/* block html */
.boxs {
  max-width: 1040px;
  border: 1px solid #ffffff;
}

.show {
  display: inline-block;
  padding: 12px 28px;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #ffffff;
}
.show:focus {
  border: 10px solid aqua;
  outline: 1px solid coral;
}
/*photo*/
.photo{
  padding-top: 150px;
  padding-bottom: 150px;
}
.photo-container{
  width: 1296px;
  margin: 0 auto;
}
.photograph{
  gap: 24px;
  display: flex;
  justify-content: center;
}
.item{
  padding: 25px 20px;
  border: 1px solid #F7ECE1;
}
.item img{
  display: block;
}
/*sell*/
.sell{
  width: 526px;
}
.service{
  border: none;
  background-color: #8D86C9;
  color: #ffffff;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4;
}
/* .element:not(:last-child){
  margin-bottom: 10px;
} */
.element + .element{
  margin-top: 31px;
}
.up{
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  color: #333333;
}
/*news*/
.new{
  width: 1236px;
}
.heads-contaainer{
  background-color: #232323;
  padding-top: 136px;
      padding-bottom: 60px;
      color: #ffffff;
}

.heads{
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.4;
}
.news{
  padding-top:80px ;
  padding-bottom: 120px;
  box-sizing: inherit;
}
.news .list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.news .item {
  width: 416px;
  padding: 30px 40px;
  outline: 1px solid #F7ECE1;
}
.news img{
  display: block;
}

.news h4 {
  margin-bottom: 20px;
  max-width: 336px;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4;
  color: #333333;
}
.new-container{
  max-width: 1296px;
  margin: 0 auto;
}

.news p {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
}
.news .button {
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #8D86C9;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
}
.news .item:nth-child(2) h4{
  margin-bottom: 49px;
}
/* hero*/

.hero {
  padding-top: 200px;
  background-image: url(/images/fon.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.container-hero .title {
  max-width: 636px;
  margin-bottom: 342px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.4;
  color: #FFFFFF;
}
.bt {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.button{
  width: 315px;
  padding: 35px 0 40px 35px;
  border: none;
  background-color: #8D86C9;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;

}

.word{
  display: block;
  margin-top: 17px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}
/* footer */

footer{
  padding: 38px 0;
  background-color: #F7ECE1;
}
.container-footer{
display: flex;
align-items: center;
}
.list-foot {
  display: flex;
  gap: 40px;
  margin-left: 104px;
}

.footer-nav-item {
  display: inline-block;
}
.foot{
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}
.p{
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
}
/*team*/
.titl{
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  color: #333333;
}
.rectangle{
  display: block;
  padding: 0 15px;
  border: 1px solid #F7ECE1;
}
.list-it{
  display: flex;
  gap: 24px;
}
/*.list-it img{
  display: block;
  padding: 0 15px;
  border: 1px solid #F7ECE1;
}*/
.list-it h4{
  margin: 25px 0 15px 0;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}
.list-it p{
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}
/*coffe*/
.bussines{
  display: flex;
  padding-bottom: 150px;
  padding-top: 150px;
}
.coffe{
  margin-left: 134px;
  position: relative;
}
.calm{
  padding: 30px 25px;
  border: 1px solid #F7ECE1;;
}
.cofe{
  position: relative;
  padding-bottom: 30px;
  background-image: url(/images/l.jpg);
  background-repeat: no-repeat;
  width: 586px;
  height: 270px;
}
.buying{
  font-weight: 700;
  position: absolute;
  left: 40px;
  bottom: 30px;
  font-size: 27px;
  line-height: 1.4;
  color: #FFFFFF;
}
.container-b{
  display: flex;
  margin: 0 auto;
}


.end {
  display: block;
  padding: 22.5px;
  border: none;
  background-color: #8D86C9;
}
.the{
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  gap: 15px;
}